{% load static %}
<footer>
    <div class="container">
        <div class="card footer-card">
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-4 g-3">
                <div class="col">
                    <div class="card-body">
                        <a href="/">
                          <img class="logo-green-footer" src="{% static 'images/aivc_logo_green.png' %}" alt="AI Venture Catalyst">
                        </a>
                        <p class="footer-text-1">Transforming AI innovations into high-value ventures through strategic carve-outs and operating partnership.</p>
                        <div class="social-media-footer">
                            <a href="#" target="_blank"><img src="{% static 'icons/linkedin.svg' %}"> </a>
                            <a href="#" target="_blank"><img src="{% static 'icons/twitter.svg' %}"> </a>
                            <a href="#" target="_blank"><img src="{% static 'icons/youtube.svg' %}"> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h3 class="footer-heading">Company</h3>
                        <div class="footer-links-div">
                            <a href="#" class="footer-links">About Us</a>
                            <a href="#" class="footer-links">Our Team</a>
                            <a href="#" class="footer-links">Case Studies</a>
                            <a href="#" class="footer-links">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h3 class="footer-heading">Services</h3>
                        <div class="footer-links-div">
                            <a href="#" class="footer-links">AI Value Assessment</a>
                            <a href="#" class="footer-links">Strategic Carve-Out</a>
                            <a href="#" class="footer-links">Growth Capital</a>
                            <a href="#" class="footer-links">Fractional Executives</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h3 class="footer-heading">Industries</h3>
                        <div class="footer-links-div">
                            <a href="#" class="footer-links">Management Consulting</a>
                            <a href="#" class="footer-links">Legal Services</a>
                            <a href="#" class="footer-links">Financial Services</a>
                            <a href="#" class="footer-links">Health Services</a>
                        </div>
                    </div>
                </div>
            </div>

              <div class="border-card">
                  <div>
                      <p class="footer-ai-venture">© 2025 AI Venture Catalyst. All rights reserved.</p>
                  </div>
                  <div class="footer-sub-links-container">
                      <a href="#" class="footer-sub-links">Privacy Policy</a>
                      <a href="#" class="footer-sub-links">Terms of Service</a>
                      <a href="#" class="footer-sub-links">Cookie Policy</a>
                  </div>
              </div>

              <div class="text-center my-2">
                  <p class="ryzen-footer">Powered by Ryzenforge Enterprises LLP</p>
              </div>


          </div>
        </div>
    </div>
</footer>