* /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
. {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;

}

body{
    background: #FFF;
}


.navbar {
    background: rgba(0,0,0,0) !important;
    transition: transform 0.3s ease-in-out;
}


.navbar-brand {
    position: relative; /* Essential for absolute positioning of the logos */
    height: 3.125rem; /* Set a specific height to prevent layout shifts */
}

.navbar-brand .logo-original,
.navbar-brand .logo-green {
    height: 100%;
    width: auto;
}

.logo-original {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.logo-green {
    opacity: 0; /* Starts hidden */
    transition: opacity 0.3s ease-in-out;
}

.navbar-hidden {
    transform: translateY(-100%);
}

.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    align-self: stretch;
    border-radius: 1.25rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 0.8rem 2rem;
    padding-left: 2rem !important;
}

.nav-link.nav-header{
    color: #1B1B1B;
    font-family: "Manrope";
    font-size: 0.90625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem; /* 151.724% */
    padding: 0;
}

.btn.get-btn-nav{
    border-radius: 1.25rem;
    color: #0A7479;
    background: #FFF;
    padding: 0.8rem 1.875rem;
    color: #0B7175;
    font-family: "Manrope";
    font-size: 0.90625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem; /* 151.724% */
}

.btn.get-btn-nav:hover{
    border-radius: 1.25rem;
    background: #0A7479;
    color: #FFF;
}



/**HOME**/

.header{
}


.card.header-card {
    position: relative;
    overflow: hidden;
    border: none;
    background: none;
    border-radius: 0;
    min-height: 100dvh;
    /*height: 100vh;*/
    transform-origin: top center;
}

/* Video background styles remain the same */
.card-video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* New CSS for the gradient overlay */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(267deg, rgba(0, 0, 0, 0.00) 2.32%, rgba(0, 0, 0, 0.20) 56.26%);
}

/* Text overlay styles remain the same but with z-index: 1 */
.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
}

@media (max-width: 998px) {
  .card-img-overlay {
    padding: 1rem;
  }
}

.hero-title{
    max-width: 60.0625rem;
    color: #FFF;
    font-family: "Manrope";
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.75rem; /* 115% */
}
.hero-subtitle{
    max-width: 57rem;
    color: #FFF;
    font-family: "Manrope";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem; /* 150% */
    letter-spacing: -0.01663rem;
    margin-top: 1.25rem;
}

.btn.get-btn{
    border-radius: 1.25rem;
    background: #0A7479;
    height: 3.20625rem;
    padding: 0 3.94563rem 0 4.04188rem;
    color: #FFF;
}

.btn.get-btn:hover{
    border-radius: 1.25rem;
    background: #0A7479;
    height: 3.20625rem;
    padding: 0 3.94563rem 0 4.04188rem;
    color: #FFF;
}

.why-services-company-titles-section{
    padding: 0rem 15.75rem;
}
@media (max-width: 992px) {
  .why-services-company-titles-section{
        padding: 0;
    }
}
@media (max-width: 768px) {
  .why-services-company-titles-section{
        padding: 0;
    }
}
@media (max-width: 576px) {
  .why-services-company-titles-section{
        padding: 0;
    }
}
.section-title-1{
    max-width: 73.89563rem;
    color: #000;
    font-family: "Manrope";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem; /* 128.571% */
}
.section-subtitle-2{
    margin-top: 1.5rem;
    color: #4B5563;
    font-family: "Manrope";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why-services-company-owl-section{
    padding-left: 16.5rem;
    margin-top: 3.56rem;
}

@media (max-width: 992px) {
    .why-services-company-owl-section{
        padding-left: 0.75rem;
    }
}
@media (max-width: 768px) {
  .why-services-company-owl-section{
        padding-left: 0.75rem;
    }
}
@media (max-width: 576px) {
    .why-services-company-owl-section{
        padding-left: 0.75rem;
    }
}



.card.why-service-card-1{
    padding: 2.5rem;
    border-radius: 2rem;
    background: #DFFEFF;
    border: none;
    height: 24.375rem;
}

.card.why-service-card-2{
    padding: 2.5rem;
    border-radius: 2rem;
    background: #DFFFE8;
    border: none;
    height: 24.375rem;
}

.why-service-card-title-1{
    color: #222;
    font-family: "Manrope";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem; /* 130% */
    letter-spacing: -0.05rem;
    max-width: 20.62rem;
}

.why-service-card-title-2{
    max-width: 26.25rem;
    color: #222;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.47375rem; /* 147.375% */
    margin-bottom: 0;
}

.why-service-card-title-3{
    color: #222;
    font-family: "Manrope";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.47375rem; /* 168.429% */
    max-width: 26.25rem;
    margin-top: 0.75rem;
    margin-bottom: 0;
}

.unlock-section{
    margin-top: 6.25rem;
    padding: 14rem 0;
}


.unlock-title {
    /* Your existing styles */
    max-width: 70rem;
    color: #000;
    text-align: center;
    font-family: "Manrope";
    font-size: 2.9875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.52rem;

    /* Make the title a block element to contain the lines */
    display: block;
}

/* Make each line a block element and hide them initially */
/*.unlock-title span {
    display: block;
    opacity: 0;
}*/

.decide-what-section{
}

.decide-main-title{
    max-width: 54rem;
    color: #000;
    text-align: center;
    font-family: "Manrope";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem; /* 128.571% */
}

.decide-main-subtitle{
    margin-top: 1.5rem;
    max-width: 44rem;
    color: #4B5563;
    text-align: center;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 200% */
}

.card.decide-what-card-1{
    border: none;
    border-radius: 2rem;
    background: #DFFEFF;
    padding: 2rem;
    max-width: 42.875rem;
}

.decide-what-card-1 .card-body{
    margin-top: 2.5rem;
}

.card.decide-what-card-2{
    border: none;
    border-radius: 2rem;
    background: #DFFFE8;
    padding: 2rem;
    max-width: 42.875rem;
}

.decide-what-card-2 .card-body{
    margin-top: 2.5rem;
}

.btn.decide-what-card-1-tab,
.btn.decide-what-card-1-tab:hover,
.btn.decide-what-card-1-tab:focus,
.btn.decide-what-card-1-tab:active,
.btn.decide-what-card-1-tab:focus:active {
    border-radius: 1000rem !important;
    background: #D5F6F8 !important;
    padding: 0.75rem 1.5rem !important;
    color: #000 !important;
    font-family: "Manrope" !important;
    font-size: 0.875rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 0.8625rem !important;
    letter-spacing: -0.003rem !important;
    cursor: default !important;
    border: none !important;
    box-shadow: none !important; /* This is crucial for removing the outline */
}

.btn.decide-what-card-2-tab,
.btn.decide-what-card-2-tab:hover,
.btn.decide-what-card-2-tab:focus,
.btn.decide-what-card-2-tab:active,
.btn.decide-what-card-2-tab:focus:active {
    border-radius: 1000rem !important;
    background: #CCFDDA !important;
    padding: 0.75rem 1.5rem !important;
    color: #000 !important;
    font-family: "Manrope" !important;
    font-size: 0.875rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 0.8625rem !important;
    letter-spacing: -0.003rem !important;
    cursor: default !important;
    border: none !important;
    box-shadow: none !important; /* This is crucial for removing the outline */
}

.decide-title{
    color: #000;
    font-family: "Manrope";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 116.667% */
    letter-spacing: -0.0175rem;
    margin-top: 1.5rem;
}

.decide-subtitle{
    max-width: 33rem;
    color: #000;
    font-family: "Manrope";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 155.556% */
    letter-spacing: -0.0175rem;
    margin-top: 0.85rem;
    margin-bottom: 2.5rem;
}

.btn.explore-btn,
.btn.explore-btn:hover,
.btn.explore-btn:focus {
    border-radius: 1.25rem;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: "Manrope";
    font-size: 0.90625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem; /* 151.724% */
    letter-spacing: -0.004rem;
    padding: 0.8125rem 1.6875rem;
    margin-top: auto;
}

.pe-operating-section{
    padding: 12.5rem 0rem;
}

.pe-main-title{
    max-width: 58.75rem;
    color: #000;
    text-align: center;
    font-family: "Manrope";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem; /* 128.571% */
    cursor: pointer;
}

.pe-main-subtitle{
    margin-top: 1.5rem;
    max-width: 47.8rem;
    color: #4B5563;
    text-align: center;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 200% */
    cursor: pointer;
}

/*.card-pin-container {
    position: relative;
    height: 100vh;
}

.card.phase-1-card,
.card.phase-2-card,
.card.phase-3-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}*/

.card.phase-1-card,
.card.phase-2-card,
.card.phase-3-card {
    padding: 5rem 7.5rem;
    border: none;
    border-radius: 1.25rem;
    max-width: 87.5rem;
    margin-top: 6.25rem;

}

@media (max-width: 992px) {
    .card.phase-1-card,
    .card.phase-2-card,
    .card.phase-3-card {
        padding: 5rem;
    }
}
@media (max-width: 768px) {
    .card.phase-1-card,
    .card.phase-2-card,
    .card.phase-3-card{
        padding: 4rem;
    }
}
@media (max-width: 576px) {
    .card.phase-1-card,
    .card.phase-2-card,
    .card.phase-3-card{
        padding: 2rem;
    }
}

.card.phase-1-card{
    background: #DFFEFF;
}
.card.phase-2-card{
    background: #DFFFE8;
}
.card.phase-3-card{
    background: #DFFEFF;
}



.phase-card-title-1{
    color: #000;
    font-family: "Manrope";
    font-size: 0.96875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem; /* 141.935% */
    letter-spacing: -0.004rem;
}

.phase-card-title-2{
    max-width: 24rem;
    color: #000;
    font-family: "Manrope";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 133.333% */
    letter-spacing: -0.0175rem;
}

.list-section{
    max-width: 25rem;
    margin-top: 1.25rem;
}

.investor-list li{
    color: #000;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 162.5% */
    letter-spacing: -0.0045rem;
}

.membership-benefits {
  overflow: hidden;
  position: relative;
}
.benefits-container {
  display: flex;
  flex-wrap: nowrap;
}
.benefit {
  flex: 0 0 100%;
  height: 100vh; /* full screen height sections */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.why-services-section{
}

.why-services-title{
    max-width: 47.85rem;
    color: #000;
    text-align: center;
    font-family: "Manrope";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem; /* 128.571% */
    cursor: pointer;
}

.why-services-subtitle{
    max-width: 37.85rem;
    color: #4B5563;
    text-align: center;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 200% */
    cursor: pointer;
    margin-top: 1.5rem;
}

.industries-section{
    padding: 12.5rem 0;
}


.industries-section-title{
    max-width: 58.75rem;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-family: "Manrope";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem; /* 128.571% */
}

.industries-section-subtitle{
    max-width: 37.5rem;
    cursor: pointer;
    margin-top: 1.5rem;
    color: #4B5563;
    text-align: center;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 200% */
}


.container-section-1{
    margin: 6.5rem 0;
}


.card.industries-card-1,
.card.industries-card-2 {
    max-width: 42.5rem;
    border: none;
    border-radius: 0.75rem;
}

.card.industries-card-1{
    background: #DFFEFF;
}
.card.industries-card-2{
    background: #DFFFE8;
}

.card-body.industries-card-body{
    padding: 3rem;
}

.industry-bg-image{
    background-size: cover;
    background-position: right 3%;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 0.75rem 0 0 0.75rem;
}

@media (max-width: 992px) {
    .industry-bg-image{
        background-position: center;
        height: 16rem;
        border-radius: 0.75rem 0.75rem 0 0;
    }
}
@media (max-width: 768px) {
    .card-body.industries-card-body{
        padding: 2rem;
    }
}
@media (max-width: 576px) {

}

.img-icon-div{
    display: flex;
    width: 2.438rem;
    height: 2.438rem;
    padding: 0.67356rem 0.74838rem;
    justify-content: center;
    align-items: center;
    gap: 0.37419rem;
    border-radius: 0.30863rem;
    background: #66A7F5;
}

.industry-icon{
    width: 1.25rem;
    height: 1.25rem;
}


.subtitle-1{
    color: #3B3B3B;
    leading-trim: both;
    text-edge: cap;
    font-size: 0.77444rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00119rem;
    margin-top: 1.56rem;
    cursor: default;
}

.subtitle-2{
    margin-top: 1.25rem;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: default;
}

.subtitle-3{
    margin-top: 1.88rem;
    max-width: 17rem;
    overflow: hidden;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.00219rem;
    cursor: default;
}

.view-more-link{
    display: flex;
    width: 9.9375rem;
    align-items: center;
    gap: 0.625rem;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0125rem;
    text-decoration: none;
    margin-top: 1.56rem;
}

.view-more-icon{
    width: 0.9375rem;
}
.view-all-btn-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
}
.btn.view-all-btn,
.btn.view-all-btn:hover,
.btn.view-all-btn:focus {
    border-radius: 1.25rem;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: "Manrope";
    font-size: 0.90625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem; /* 151.724% */
    letter-spacing: -0.004rem;
    padding: 0.8125rem 1.6875rem;
}

.connect-with-us-section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 6.25rem 0;
}

.connect-with-us-btn,
.connect-with-us-btn:hover,
.connect-with-us-btn:focus {
    display: flex;
    height: 2.64294rem;
    padding: 0 1.22706rem;
    justify-content: center;
    align-items: center;
    gap: 0.47194rem;
    border-radius: 0.47194rem;
    border: 1px solid #616161;
    background: linear-gradient(180deg, rgba(38, 38, 38, 0.50) 0%, rgba(51, 51, 51, 0.50) 100%);
    box-shadow: 0 3.33px 30px 0 rgba(0, 0, 0, 0.20);
    color: #FFF;
    text-align: center;
    font-family: "Manrope";
    font-size: 0.81031rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 0.97238rem */
    letter-spacing: -0.00813rem;
    cursor: default;
}

.connect-with-us-title-1,
.connect-with-us-title-2 {
    color: #FFF;
    font-family: "Manrope";
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 4.3875rem */
    letter-spacing: -0.2025rem;
    max-width: 39.5rem;
}
.connect-with-us-title-1{
    margin: 1.5rem 0 0 0;
}

.connect-with-us-subtitle-1,
.connect-with-us-subtitle-2 {
    color: #FFF;
    font-family: "Manrope";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
}

.connect-with-us-subtitle-1{
    margin-top: 1.25rem;
    margin-bottom: 0;
}
.connect-with-us-subtitle-2{
    margin-bottom: 2rem;
}

.connect-section-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 1.5rem; /* Adds space between the button and the text */
}

.connect-with-our-btn{
    display: flex;
    padding: 0.75rem 1.5625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.75rem;
    border: 1px solid #020202;
    background: #FFF;
    color: #1C1C1C;
    text-align: center;
    font-family: "Manrope";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 114.286% */
}

.trusted-by-silicon-text{
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 0.9rem */
    margin: 0;
}

.card-img-top.ai-logo{
    max-width: 24.466rem;
    height: 7.5rem;
}

.meet-operator-section{
    padding: 6.25rem 0;
}

.what-vs-what-section{
    border-radius: 2rem;
    background: linear-gradient(195deg, rgba(43, 255, 255, 0.20) 0%, rgba(43, 255, 255, 0.06) 50%, rgba(43, 255, 255, 0.12) 100%);
    backdrop-filter: blur(20px);
    padding: 6.25rem 0;
}
.what-we-title-1, .what-we-title-2{
    color: #1B1B1B;
    font-family: "Manrope";
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 4.3875rem */
    letter-spacing: -0.2025rem;
    max-width: 25.87rem;
}
.what-we-title-2{
    margin-bottom: 2.5rem;
}

.what-we-subtitle{
    color: #000;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
}

.list-section-1{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.list-section-1 img{
    display: flex;
    width: 1rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
}

.list-section-1 p{
    color: rgba(0, 0, 0, 0.80);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 146.667% */
    margin: 0;
}
.contact-us-section{
    margin: 6.25rem 0;
}
.contact-section-title{
    color: #1B1B1B;
    font-family: Manrope;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 4.3875rem */
    letter-spacing: -0.03375rem;
}

.form-section{
    margin-top: 6.25rem;
}

.form-label.contact-form-label{
    color: #8B8B8B;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05156rem;
    text-transform: uppercase;
}

.form-control.contact-form-control{
    border-radius: 0;
    border-left: none; border-right: none;
    border-top: none;
    border-bottom: 1px solid #6C6C6C;
    padding: 0.5rem 0;
}

.form-control.contact-form-control:focus{
    border-radius: 0;
    border-left: none; border-right: none;
    border-top: none;
    border-bottom: 1px solid #6C6C6C;
    padding: 0.5rem 0;
    box-shadow: none;
}

.form-control.contact-form-control::placeholder{
    color: #C9C9C9;
    font-family: "Manrope";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.05156rem;
    text-transform: uppercase;
}

.form-check-label{
    color: #4D4D4D;
    leading-trim: both;
    text-edge: cap;
    font-family: "Manrope";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem; /* 200% */
    letter-spacing: 0.05156rem;
    text-transform: uppercase;
}
.numbers-section{
    margin-top: 6.25rem;
}
.number-percentage{
    color: #1B1B1B;
    leading-trim: both;
    text-edge: cap;
    font-family: "Manrope";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.05625rem;
}
.number-percentage-sub{
    color: #1B1B1B;
    leading-trim: both;
    text-edge: cap;

    /* Body 2 */
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
    letter-spacing: 0.0025rem;
    margin-top: 1.56rem;
    max-width: 19rem;
}






























/*FOOTER************/

.card.footer-card{
    margin: 6.25rem 0;
    padding: 4rem 0;
    border-radius: 3.5rem;
    background: #DFFFE8;
    max-width: 100rem;
}

.logo-green-footer {
    width: 6rem;
    height: 2rem;
}

.footer-text-1{
    color: #1B1B1B;
    font-family: "Manrope";
    font-size: 0.94531rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 158.678% */
    max-width: 17rem;
    margin-top: 1.5rem;
}
.social-media-footer a{
    text-decoration: none;
}

.footer-heading{
    color: #001010;
    font-family: "Manrope";
    font-size: 1.10744rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 158.025% */
}
.footer-links-div{
    margin-top: 1.5rem;
    display: flex;
    padding: 0.25rem 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.footer-links{
    text-decoration: none;
    color: #1B1B1B;
    font-family: "Manrope";
    font-size: 0.96875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 154.839% */
}

.border-card{
    display: flex;
    padding: 2.0625rem 0.01813rem 0 0;
    justify-content: space-between;;
    align-items: center;
    gap: 28.77625rem;
    align-self: stretch;
    border-top: 1px solid #0A7479;
    margin-top: 5rem;
}

.footer-ai-venture{
    display: flex;
    width: 18.22375rem;
    height: 1.25rem;
    flex-direction: column;
    justify-content: center;
    color: #1B1B1B;
    font-family: Manrope;
    font-size: 0.84769rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 147.465% */
}

.footer-sub-links{
    color: #1B1B1B;
    font-family: Manrope;
    font-size: 0.86131rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 145.125% */
    text-decoration: none;
}

.footer-sub-links-container {
    display: flex;
    gap: 1.5rem;
}

.ryzen-footer{
    color: #1B1B1B;
    font-family: "Manrope";
    font-size: 0.84769rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 147.465% */
}